---
layout: default
redirect_from:
  - /archive/
  - /archive
  - /archive/1/
  - /archive/1
---
<h2 style="margin-left: 20px;">Links - My linktree!</h2>

<section class="links">
  <h3>Recommended Contacts</h3>
    <div class="gridSection">
      <a class="gridItem" href="https://signal.me/#eu/I64dzQlN8kSc_QL9-QVDx6592LlG8kfGM1lBYWwxsXS6rBTfTINCjpVwwug_HmFs">
        <img src="{{ site.baseurl }}/images/social/signal.svg" alt="Signal Icon">
        <div class="details">
          <h2>Signal</h2>
          <p>
            amyiscoolz.33
          </p>
        </div>
      </a>

      <a class="gridItem" href="https://matrix.to/#/@amyiscoolz:chat.atiusamy.com">
        <img src="{{ site.baseurl }}/images/social/fluffychat.svg" alt="Matrix Icon">
        <div class="details">
          <h2>Matrix</h2>
          <p>
            @amyiscoolz:chat.atiusamy.com
          </p>
        </div>
      </a>
    </div>
  <h3>Not-so Recommended Contacts</h3>
    <div class="gridSection">
      <a class="gridItem" href="https://instagram.com/amyiscoolz">
        <img src="{{ site.baseurl }}/images/social/instagram.svg" alt="Instagram Icon">
        <div class="details">
          <h2>Instagram</h2>
          <p>
            amyiscoolz
          </p>
        </div>
      </a>
  
      <a class="gridItem" href="mailto:atiusamy@murena.io">
        <img src="{{ site.baseurl }}/images/social/email.svg" alt="Email Icon">
        <div class="details">
          <h2>Email</h2>
          <p>
            amy.rise141@simplelogin.com
          </p>
        </div>
      </a>
      
      <a class="gridItem" href="#">
        <img src="{{ site.baseurl }}/images/social/discord.svg" alt="Discord Icon">
        <div class="details">
          <h2>Discord</h2>
          <p>
            atiusamy
          </p>
        </div>
      </a>

      <a class="gridItem" href="https://steamcommunity.com/id/AtiusAmy/">
        <img src="{{ site.baseurl }}/images/social/steam.svg" alt="Steam Icon">
        <div class="details">
          <h2>Steam</h2>
          <p>
            AtiusAmy
          </p>
        </div>
      </a>
    </div>
  <h3>My stuff</h3>
    <div class="gridSection">
      <a class="gridItem" href="https://www.youtube.com/@atius">
        <img src="{{ site.baseurl }}/images/youtube.png" alt="YouTube Icon" style="background-color: white; padding: 5px">
        <div class="details">
          <h2>YouTube</h2>
          <p>
            Atius
          </p>
        </div>
      </a>

      <a class="gridItem" href="https://modrinth.com/user/AtiusAmy">
        <img src="{{ site.baseurl }}/images/social/modrinth.svg" alt="Modrinth Icon" style="background-color: black; padding: 5px">
        <div class="details">
          <h2>Modrinth</h2>
          <p>
            AtiusAmy
          </p>
        </div>
      </a>

      <a class="gridItem" href="https://github.com/AtiusAmy">
        <img src="{{ site.baseurl }}/images/social/github.svg" alt="GitHub Icon" style="background-color: white; padding: 5px">
        <div class="details">
          <h2>GitHub</h2>
          <p>
            AtiusAmy
          </p>
        </div>
      </a>
    </div>
  <h3>Very attractive person</h3>
    <div class="gridSection">
      <a class="gridItem" href="https://winsdominoes.net">
        <img src="{{ site.baseurl }}/images/social/winsdominoes.webp" alt="Win's Icon">
        <div class="details">
          <h2>Win's Website</h2>
          <p>
            winsdominoes.net
          </p>
        </div>
      </a>
    </div>
</section>

<nav class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous">Newer</a>
    {% endif %}
  
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next">Older</a>
    {% endif %}
  </nav>
  
